body {
  background-color: black;
}

.container {
  width: 87.5%;
  margin: 10px auto 0 auto;
}

.rounded-heavy {
  border-radius: 15px;
}

.rounded-medium {
  border-radius: 10px;
}

.rounded-light {
  border-radius: 5px;
}

.centered {
  text-align: center;
}

.content-section {
  margin-top: 1em;
  padding: 2%;
  border-radius: 10px;
  font-size: 3.5vw;
}

@media (min-width: 1000px) {
  .content-section {
    font-size: 2.5vw;
  }
}

.content-section p {
  margin: 0.5em auto;
}

.content-section a {
  color: inherit;
  text-decoration: none;
}

.content-section a:hover {
  text-decoration: underline;
}

.content-section .post-date {
  font-size: 1vw;
  text-align: right;
}

.ct-lime-purple {
  color: lime;
  background-color: #5b40f7;
}

.ct-yellow-blue {
  color: #ecfd00;
  background-color: blue;
}

.ct-blue-lime {
  color: blue;
  background-color: lime;
}

.ct-red-yellow {
  color: red;
  background-color: #ecfd00;
}

.ct-black-orange {
  color: black;
  background-color: orange;
}

.ct-yellow-red {
  color: #ecfd00;
  background-color: red;
}

.ct-purple-cyan {
  color: #5b40f7;
  background-color: cyan;
}

#selection {
  margin: 5px auto auto 5px;
  font-size: 3.5vw;
  padding: 2px 3px 2px 3px;
  background-color: cyan;
  color: blue;
  border: 1px solid blue;
}

@media (min-width: 1000px) {
  #selection {
    font-size: 2.5vw;
  }
}

#main-title {
  text-align: center;
  border-radius: 10px;
  margin-bottom: 0;
  font-size: 3em;
  /* Laptops and larger displays */
}

@media (min-width: 1000px) {
  #main-title {
    font-size: 5vw;
  }
}

#copyright-info {
  margin-top: 0.5vh;
  font-size: 0.7em;
  color: white;
}

#copyright-info #main-message {
  text-decoration: underline;
}
